/*
 * https://elecnor.github.io
 * etecdados v1.0.0
 * copyright 2020 by etecdados
 * created on 2020/05/26 07:30
 * author fernando silva
 * last update on 2020/05/26
 */


 .button_geral {
     width: 170px;
 }
.panel_link {
    height: 120px;
    width: 150px;
}

.panel_content {
    height: 50px;
}

#div_estoque,
#div_section2,
#div_historico
{
    max-width: 100%;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

#div_procurar {
    max-width: 600px;
}
#table_estoque,
#table_cadastro,
#table_historico
{
    font-size: 12px;
    white-space: nowrap;
    border-collapse: collapse;
    line-height: normal;
    width: 100%;
}

#table_estoque thead tr th,
#table_cadastro thead tr th,
#table_historico thead tr th
{
    background-color: #6C757D;
    color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 100;
}

#div_transferencia,
#div_banco {
    max-width: 500px;
}